/venv
__pycache__/
*.pyc
*.pyo
/.pytest_cache
/plannings
/split
/replanif

*.odt
*.log
*.code-workspace
*.zip
/.claude
instructions.txt
/data.json
/constraints.json
/reel.py
prenoms.txt
compat_reel.xlsx
docs/CCTP.htm

.~lock.*
